<div class="example-container">
    <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Transaction</button>
    <div class="example-table-container">
        <table mat-table [dataSource]="transactions" class="example-table" matSort matSortActive="date" matSortDisableClear matSortDirection="desc">

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> DATE </th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction.date|date }} </td>
            </ng-container>

            <ng-container matColumnDef="payee">
                <th mat-header-cell *matHeaderCellDef> PAYEE </th>
                <td mat-cell *matCellDef="let transaction"> {{transaction.payee?.name}} </td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> CATEGORY </th>
                <td mat-cell *matCellDef="let transaction"> {{transaction.category?.name}} </td>
            </ng-container>

            <ng-container matColumnDef="memo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> MEMO </th>
                <td mat-cell *matCellDef="let transaction"> {{transaction.memo}} </td>
            </ng-container>

            <ng-container matColumnDef="credit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> CREDIT </th>
                <td mat-cell *matCellDef="let transaction"> {{transaction.credit|currency}} </td>
            </ng-container>
            
            <ng-container matColumnDef="debit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> DEBIT </th>
                <td mat-cell *matCellDef="let transaction"> {{transaction.debit|currency}} </td>
            </ng-container>

            <ng-container matColumnDef="cleared">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> C </th>
                <td mat-cell *matCellDef="let transaction">
                    <mat-checkbox [checked]="transaction.cleared" [color]="'primary'"></mat-checkbox>    
                </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let transaction" class="action-link"> 
                    <a href="#" (click)="openDialog('Update', transaction); false;"><mat-icon aria-hidden="false" aria-label="Edit">edit</mat-icon></a>&nbsp;
                    <a href="#" (click)="openDialog('Delete', transaction); false;"><mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon></a>  
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [length]="resultsLength" [pageSize]="25" aria-label="Select page of Transaction search results"></mat-paginator>
</div>